footer:not(body#system footer) {
    .footer_expanded {
        #home &,
        #sobre &,
        #professores &,
        #nossoblog &,
        #blogPostagem &,
        #cursoDetalhes &,
        #feiraEmpresas &,
        #feira & {
            background-image: url("../img/banner_footer.jpg");
            height: 40.4rem;
            padding-bottom: 7.8rem;
            @include flex(row, flex-end, center);

            .container-fav {
                @include flex(row, flex-end, space-between);

                ._text {
                    max-width: 52.8rem;

                    h6 {
                        font-size: 2.5905rem;
                        font-weight: 400;

                        letter-spacing: 0.09em;

                        color: $color-featured;
                    }

                    h2 {
                        font-size: 6.2rem;
                        letter-spacing: initial;
                        line-height: 7.3rem;

                        color: $white;

                        margin-bottom: 3.5rem;
                    }

                    p {
                        font-size: 1.4rem;
                        font-weight: 300;

                        letter-spacing: 0.02em;

                        color: $white;
                    }
                }

                button {
                    @include circle-btn(4.3rem, $color-featured);
                }
            }

            @include responsive(600px) {
                padding: 3rem 0 3rem 0;
                text-align: center;
                height: auto;
                .container-fav {
                    flex-direction: column;
                    align-items: center;
                    gap: 3.4rem;

                    ._text {
                        p {
                            font-size: 1.9rem;
                        }
                    }
                }
            }
        }
    }

    .footer_base {
        background: $gradient-sky;
        padding-top: 4.4rem;
        color: $white;

        ._top {
            @include flex(row, center, space-between);

            padding-bottom: 3rem;
            border-bottom: 0.1rem solid #e0e0e0;

            ._email {
                @include flex(row, center, center);
                gap: 1rem;
                a {
                    color: $white;
                    font-size: 1.4rem;
                }
            }

            ._whatsapp {
                font-size: 1.4rem;
            }

            ._social {
                @include flex(row, center, center);
                gap: 3.2rem;
                span {
                    font-size: 1.4rem;
                }
                ._media {
                    ul {
                        @include flex(row, center, center);
                        gap: 2.7rem;
                    }
                }
            }
        }
        ._end {
            padding-top: 3.3rem;
            padding-bottom: 3.3rem;
            ul {
                @include flex(row, center, space-between);

                li {
                    a {
                        font-family: "Gilroy";
                        color: white;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        letter-spacing: 0.16em;
                        text-transform: uppercase;
                    }
                }
            }
        }

        a {
            transition: 0.32s;
            &:hover {
                filter: drop-shadow(1px 1px 5px $white);
            }
        }

        @include responsive(900px) {
            ._top {
                flex-direction: column;
                gap: 4rem;
            }

            ._end {
                nav{
                    display: none;
                }
                a{
                    img{
                        margin-top: 0!important;
                    }
                }
            }
        }
        @include responsive(600px) {
            ._top {
                ._whatsapp {
                    font-size: 1.9rem;
                }
                ._social {
                    flex-direction: column;
                    span {
                        font-size: 1.8rem;
                    }
                }
                ._email {
                    a {
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
}
