.s_galeria {
    padding-top: 4.5rem;
    padding-bottom: 7.5rem;

    .container-fav {
        ._title {
            margin-bottom: 3.8rem;
            h4 {
                color: $color-main;
                font-weight: 600;
                font-size: 3.2rem;
                line-height: 3.8rem;
                letter-spacing: 0.02em;
            }
        }
        ._content {
            white-space: nowrap;
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: visible;
            scroll-behavior: smooth;

            @include responsive(600px) {
                scroll-snap-type: x mandatory;
                overflow: scroll;

                ._picture {
                    scroll-snap-align: start;
                }
            }

            ._galeriaList {
                @include flex(row, center, space-between);
                transition: 0.32s;
                min-width: max-content;
                gap: 0.1rem;

                ._picture {
                    flex-basis: 3000px;
                    transition: 0.32s;

                    border-radius: 1.5rem;
                    overflow: hidden;
                    width: 100%;
                    max-width: 40.533333rem;
                    height: 29rem;

                    img {
                        transition: 0.32s;
                        border-radius: 0.8rem;
                        filter: saturate(0);

                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        cursor: pointer;
                        img {
                            filter: saturate(1);
                        }
                    }
                }
            }
        }
        ._menu {
            @include flex(row, center, space-between);
            padding-top: 4.6rem;

            strong {
                font-size: 2rem;
                line-height: 2.3rem;
                letter-spacing: 0.02em;

                color: $color-second;
            }

            ._buttons {
                @include flex(row, center, space-between);
                gap: 3.7rem;

                ._button {
                    &:hover {
                        img {
                            filter: drop-shadow(1px 1px 30px red);
                        }
                        cursor: pointer;
                    }
                }

                ._indicator {
                    @include flex(row, center, space-between);
                    gap: 1.2rem;

                    img {
                        content: url("../img/galeria_Indicator.svg");
                        &.active {
                            content: url("../img/galeria_Indicator-active.svg");
                        }
                    }
                }
            }
        }
    }
}

.fullscreen-image {
    &.showed {
        @include flex(row, center, center);
    }
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: 100vw !important;
    min-height: 100vh !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    margin: 0px !important;
    z-index: 666;
    background: rgba(0, 0, 0, 0.815);

    display: none;
    span {
        height: 100%;
        width: 100%;

        z-index: 666;
    }

    div {
        position: absolute;
        padding: 5%;

        width: 100%;
        height: 100%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include flex(row, center, space-between);

        @include responsive(900px) {
            padding: 0;
        }

        button {
            color: white;
            z-index: 667;
            @include responsive(900px) {
                height: 100%;
                padding: 1.5rem;
                background-color: rgb(0 0 0 / 33%);
            }
        }
    }

    picture {
        height: 75%;
        width: 75%;
        position: absolute;

        margin: auto auto;

        border-radius: 1.5rem;
        overflow: hidden;

        border: solid 1px $color-main;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include responsive(900px) {
            width: 100%;
            height: auto;
        }
    }
}
