header {
    position: fixed;
    top: 0;
    z-index: 664;
    height: 11.2rem;
    transition: 0.32s;

    #sobre &,
    #nossoscursos &,
    #nossoblog &,
    #galerias &,
    #blogPostagem &,
    #contato &,
    #duvidas & {
        background: url("../img/header_hero.jpg");
    }

    @include flex(column, center, center);

    .container-fav {
        height: 100%;
        @include flex(row, center, space-between);

        nav {
            @include flex(row, center, space-between);
            width: 100%;
            margin-left: 5.4rem;

            ._hamburguer {
                @include flex(row, center, space-between);
                gap: 0.9rem;
                transition: 0.32s;

                &:hover {
                    cursor: pointer;
                    filter: drop-shadow($white 1px 1px 20px);
                }
                span {
                    color: $white;
                    font-weight: 600;
                    font-size: 1.1rem;
                    letter-spacing: 0.16em;

                    #system & {
                        color: $color-main;
                    }
                }
            }

            ul {
                @include flex(row, center, space-between);
                transition: 0.32s;

                li {
                    cursor: pointer;

                    &:first-child {
                        margin-right: 5.6rem;
                    }
                    &:last-child {
                        margin-left: 2.3rem;
                    }

                    a {
                        color: $white;
                        font-weight: 600;
                        font-size: 1.1rem;
                        line-height: 1.3rem;
                        letter-spacing: 0.16em;

                        #system & {
                            color: $color-main;
                        }
                    }

                    &:hover {
                        filter: drop-shadow($white 1px 1px 20px);
                    }
                }
            }
        }
    }

    &._active:not(#system &) {
        // backdrop-filter: blur(5px);
        background-image: $gradient-sky-2;
        height: 9rem;
    }

    @include responsive(720px) {
        .container-fav {
            nav {
                @include flex(row-reverse, center, space-between);
                margin: 0;
                ._hamburguer {
                    span {
                        display: none;
                    }
                }
                ul {
                    li {
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
