@mixin style-btn($height, $bg, $colorText) {
    display: inline-block;

    height: $height;

    background-color: $bg;

    border-radius: 0.6rem;
    padding: 0 5rem;

    font-weight: bold;
    font-size: 1.6rem;
    line-height: $height;
    color: $colorText;

    transition: 0.32s;

    cursor: pointer;

    &:hover {
        background-color: $colorText;
        color: $bg;
        border: solid 1px $bg;
    }
}
@mixin alternative-btn($height, $bg, $colorText) {
    display: inline-block;

    height: $height;

    background-color: $bg;

    border-radius: 30rem;
    padding: 0 3.7rem;

    font-weight: bold;
    font-size: 1.6rem;
    font-family: Gilroy;
    line-height: $height;
    color: $colorText;

    transition: 0.32s;

    cursor: pointer;

    &:hover {
        background-color: $colorText;
        color: $bg;
    }
}
@mixin circle-btn($size, $bg) {
    @include flex(row, center, center);

    transition: 0.32s;
    height: $size;
    width: $size;
    cursor: pointer;

    background-color: $bg;

    border-radius: 50%;

    &:hover {
        box-shadow: 1px 1px 30px $bg;
    }
}

@mixin picframe() {
    overflow: hidden;

    img {
        height: 100%;
        object-fit: cover;
    }
}

@mixin fade($transform, $time) {
    transition: $time;
    &.fade {
        opacity: 0;
        transform: $transform;
    }
}

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin responsive($screenWIDTH) {
    @media (max-width: $screenWIDTH) {
        @content;
    }

    /**
  
  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}
  @include responsive(400px) {}

  **/
}

@mixin draw_one($width, $height, $top, $right) {
    &::after {
        position: absolute;
        content: "";

        width: $width;
        height: $height;

        top: $top;
        right: $right;

        background: url("../img/svg_draw.svg");
        background-size: 100% 100%;
    }
}
@mixin draw_two($width, $height, $top, $right) {
    &::after {
        position: absolute;
        content: "";

        width: $width;
        height: $height;

        top: $top;
        right: $right;

        background: url("../img/svg_draw_2.svg");
        background-size: 100% 100%;
    }
}
