section.s_content {
  margin-top: 6.2rem;
  margin-bottom: 6.6rem;

  .container-fav {
    @include flex(column, flex-start, flex-start);
    .title {
      h4 {
        font-size: 3.8rem;
        margin-bottom: 4.6rem;

        color: $color-darkest;
      }
    }

    main {
      max-width: 100%;
      @include flex(row, flex-start, space-between);
      gap: 14.1rem;

      ._modulos {
        width: 65.1rem;
        @include flex(Column, center, space-between);
        gap: 2.1rem;

        ._box {
          transform: 0.32s;
          max-height: 7.2rem;
          overflow-y: hidden;
          border-radius: 0.8rem;
          width: 100%;

          padding: 0 3.9rem;
          padding-bottom: 2.1rem;

          border: solid 1px rgba(0, 0, 0, 0.1);
          cursor: pointer;

          ._main {
            height: 7.2rem;
            @include flex(row, center, space-between);

            span {
              font-weight: 500;
              font-size: 1.6rem;

              max-width: 65%;

              color: $color-main;
            }
          }
          p {
            margin-top: 2.2rem;
            max-width: 65%;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 125%;
            /* or 20px */

            color: $color-alternative;
          }

          &.active {
            max-height: unset;
            border-color: $color-second;

            ._main {
              span {
                font-weight: bold;
                font-size: 2.4rem;
                /* identical to box height, or 30px */

                color: $color-second;
              }

              ._icon {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      ._pictures {
        position: relative;
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
        gap: 2.1rem;

        picture {
          max-width: 20.1rem;
          border-radius: 15px;
          height: 37.2rem;

          overflow: hidden;

          @include flex(row, center, center);
        }

        img {
          filter: saturate(0);

          transition: 0.32s;

          &:hover {
            filter: none;
            cursor: pointer;
          }

          min-width: 100%;
          min-height: 100%;
        }

        &::after {
          display: none;
          content: "";
          height: 17.2rem;
          width: 100%;
          max-width: 80rem;
          background-image: url("../img/professores_Effect.svg");
          position: absolute;
          top: 20rem;

          pointer-events: none;
          left: 25rem;
          opacity: 0.3;

          transform: rotate(180deg);
        }
      }

      ._info {
        max-width: 39.3rem;
        picture {
          @include flex(row, center, center);
          height: 100%;
          width: 100%;
          max-width: 38.6rem;
          max-height: 37.2rem;

          overflow: hidden;
          border-radius: 0.8rem;

          img {
            filter: saturate(0);
            transition: 1s;

            &:hover {
              filter: saturate(1);
            }
          }
        }

        h4 {
          margin-top: 5.8rem;
          font-size: 3.8rem;
          margin-bottom: 2.6rem;

          color: $color-darkest;
        }

        p {
          color: $color-alternative;
          max-width: 121rem;
        }
      }
    }
  }

  @include responsive(900px) {
    .container-fav {
      main {
        @include flex(column-reverse, center, center);
        ._info {
          @include flex(column, center, center);

          p {
            text-align: center;
          }
        }
        text-align: center;
      }
    }
  }
}
