section.s_outrasEmpresas {
  padding-top: 11.3rem;
  .container-fav {
    ._title {
      h4 {
        font-size: 3.8rem;
        line-height: 160%;
        color: $color-darkest;
      }
    }
    ul {
      margin-top: 3.4rem;
      width: 100%;

      li {
        a {
          @include flex(row, center, space-between);

          padding-left: 2.3rem;
          padding-right: 2.3rem;

          transition: 0.32s;

          height: 6.1rem;

          border-top: 1px solid #5b5b5b11;

          span {
            font-weight: 500;
            font-size: 1.8rem;
            color: $color-darkest;
          }
          
          main{
            @include flex(row,center,space-between);
            width: 100%;
            max-width: 65.1rem;
            gap: 2rem;

            legend:last-child{
              width: 100%;
              max-width: 12.8rem;
            }
          }

          @include responsive(800px){
            height: auto;
            padding-top: 2rem;
            padding-bottom: 2rem;

            main{
              flex-direction: column;
              gap: 2rem;
              max-width: unset;
              width: auto;
              legend{
                border: none!important;
              }
            }
          }

          legend {
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $color-alternative;

            @include flex(row,center,center);
            gap: 2rem;

            &:not(:last-child){
              padding-right: 2rem;
              border-right: 1px solid #5b647b5e;
            }
          }

          &:hover {
            transform: scale(1.05);
          }
        }
        width: 100%;

        &:last-child {
          a {
            border-bottom: 1px solid #5b5b5b11;
          }
        }
      }
    }
  }
}
