.s_parceiros {
  margin-top: 10rem;
  padding-bottom: 5.1rem;
  padding-top: 2.1rem;

  background: $gray-ligher;

  .container-fav {
    @include flex(row, flex-start, space-between);

    span {
      font-size: 1.8rem;
      display: block;
      line-height: 2.1rem;
      letter-spacing: 0.02em;

      color: $color-main;
      margin-bottom: 3rem;
    }

    ._apoio {
      margin-right: 10.6rem;
      ._apoiador {
        margin-top: 4.5rem;
        position: relative;
        display: block;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: -4.3rem;
          width: 0.1rem;
          height: 4.3rem;
          border-right: 1px solid #c4c4c4;
        }
      }
    }
    ._patrocinadores {
      width: 100%;
      ._patrocinadorList {
        @include flex(row, center, space-between);
        ._patrocinador {
          height: 4.6rem;
          max-width: 20rem;
        }

        img {
          filter: grayscale(1);
          object-fit: cover;
          width: auto;
          height: 100%;
        }
      }
    }
  }

  @include responsive(900px) {
    .container-fav {
      ._apoiador {
        &::after {
          display: none;
        }
      }
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 3rem;

      ._apoio {
        margin-right: 0;
      }
    }
  }
  @include responsive(600px) {
    .container-fav {
      ._patrocinadores {
        ._patrocinadorList {
          flex-direction: column;
          gap: 5rem;
          align-items: center;
        }
      }
    }
  }
}
