.s_publi {
    padding-top: 5.1rem;
    padding-bottom: 3.65rem;

    .container-fav {
        position: relative;

        &::after {
            content: "PUBLICIDADE";
            position: absolute;
            bottom: 0;
            left: -0.9rem;
            writing-mode: tb;
            text-orientation: mixed;
            transform: rotate(180deg);
            font-size: 1.2rem;
            line-height: 80%;
            letter-spacing: 0.1em;
            color: $color-alternative;
        }
    }

    img[data-size="responsive"] {
        display: none;
        width: 100%;
    }

    @include responsive(730px) {
        img[data-size="responsive"] {
            display: block;
        }

        img[data-size="desktop"] {
            display: none;
        }
    }
}
