.s_search {
  padding-top: 13.1rem;
  padding-bottom: 2.9rem;
  .container-fav {
    @include flex(row, center, space-between);

    ._title {
      h4 {
        font-size: 2.4rem;
        color: $color-darkest;
      }
    }

    ._filters {
      @include flex(row, center, center);
      gap: 3.2rem;

      label {
        position: relative;

        select {
          height: 4.2rem;
          width: 27.8rem;

          padding: 1.1rem 2.8rem;
          border: 1px solid rgba(91, 100, 123, 0.3);
          box-sizing: border-box;
          border-radius: 4px;

          option {
            line-height: 200%;
            zoom: 1.1;
          }
        }

        input {
          height: 4.2rem;
          width: 38.3rem;

          padding: 1.1rem 2.8rem;
          border: 1px solid rgba(91, 100, 123, 0.3);
          box-sizing: border-box;
          border-radius: 4px;
        }

        ._icon {
          position: absolute;
          right: 1.7rem;
          top: 1.2rem;
          height: 1.6rem;
          width: 1.6rem;
          cursor: pointer;
        }
      }
    }
  }

  @include responsive(992px) {
    .container-fav {
      @include flex(column, center, center);
      gap: 3rem;
    }
  }

  @include responsive(600px) {
    .container-fav {
      ._filters {
        flex-direction: column;
        label {
          width: 100%;

          input,
          select {
            width: 100%;
          }
        }
      }
    }
  }
}
