.s_sobre {
    overflow-x: hidden;
    margin-top: 5rem;
    padding-bottom: 4.5rem;
    position: relative;

    #sobre & {
        margin-top: 20.5rem;
    }

    .container-fav {
        @include flex(row, flex-start, space-between);

        ._left {
            max-width: 48.8rem;

            h4 {
                margin-bottom: 4.8rem;
                margin-top: 2.6rem;
            }
            p {
                color: $color-alternative;
                margin-bottom: 5.5rem;
            }
            button {
                @include circle-btn(4.3rem, $color-second);
            }
        }

        ._right {
            max-width: 59.1rem;
            ._background {
                position: absolute;
                top: 0;
                z-index: -1;
                height: 50.8rem;
                width: 100%;
                max-width: 94.8rem;
            }

            ._text {
                margin-top: 8.5rem;

                max-width: 37rem;
                margin-left: 6.2rem;
                p {
                    margin-top: 3.5rem;
                    color: $white;
                    font-size: 2.2rem;
                    line-height: 130%;
                }
            }

            ._cases {
                @include flex(row, center, space-between);
                width: 59.1rem;
                margin-top: 11rem;
                gap: 3.3rem;
                position: relative;
                left: -6.1rem;
                ._case {
                    background: $white;
                    height: 20rem;
                    width: 100%;
                    max-width: 17.5rem;
                    border-radius: 0.4rem;
                    box-shadow: 5px 5px 30px rgba(19, 51, 113, 0.15);
                    transition: 0.6s;

                    @include flex(column, center, center);

                    gap: 2.3rem;

                    span {
                        max-width: 12.6rem;
                        font-size: 1.6rem;
                        line-height: 140%;
                        text-align: center;
                        letter-spacing: 0.02em;
                    }

                    &:hover {
                        cursor: pointer;
                        background-image: $gradient-sky;
                        color: $white;
                    }
                }
                @include fade(translateY(-500px), 2s);
            }
        }
    }

    @include responsive(1250px) {
        .container-fav {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            ._left {
                text-align: center;
                button {
                    margin: auto;
                }
            }

            ._right {
                ._background {
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }

    @include responsive(600px) {
        .container-fav {
            ._right {
                ._background {
                    left: auto;
                    bottom: 9%;
                }
                ._cases {
                    left: 0;
                    justify-content: center;
                    gap: 1rem;
                    ._case {
                        background-image: $gradient-sky;
                        color: $white;
                    }
                }
            }
        }
    }
}

section._video {
    .container-fav {
        ._text {
            width: 100%;
            @include flex(row, center, space-between);

            p {
                max-width: 62.5rem;
                color: $color-alternative;
            }
        }
    }
}
