.d_superMenu {
    position: fixed;
    top: 9rem;
    height: 16rem;
    z-index: 666;
    transition: 1s;

    pointer-events: none;
    opacity: 0;
    transform: translateY(-300px);

    .container-fav {
        @include flex(row, flex-start, space-between);
        position: relative;

        background-color: $white;
        height: 43.6rem;

        ._left,
        ._right {
            margin-top: 2.7rem;
        }

        ._left {
            margin-left: 4.5rem;
            h3 {
                margin-top: 1.3rem;
                font-size: 3rem;
                line-height: 160%;
                color: $gray;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    margin-top: 0;

                    background-color: $color-fourty;
                    height: 0.1rem;
                    width: 2.2rem;
                }
            }
            ._lists {
                transform: translateY(300px);
                opacity: 0;
                transition: 2s;
                @include flex(row, flex-start, space-between);
                width: 37.3rem;
                margin-top: 2.5rem;

                ul {
                    li {
                        list-style: url("../img/listball.svg");
                        list-style-position: inside;
                        margin-top: 1rem;
                        a {
                            font-size: 2rem;
                            line-height: 160%;

                            color: $color-main;

                            opacity: 0.7;
                            &.active,
                            &:hover {
                                color: $color-second;
                            }
                        }
                    }
                }
            }
        }

        ._right {
            ._img {
                position: absolute;
                right: 37.3rem;
            }
            ._text {
                z-index: 2;
                position: relative;
                top: 10.2rem;

                h6 {
                    font-size: 1.7782rem;
                    letter-spacing: 0.1em;
                    color: $color-second;
                    margin-bottom: -1s rem;
                }
                p {
                    max-width: 35.5rem;
                    position: relative;
                    left: 11.5rem;
                }
            }
        }

        .close_superMenu {
            position: absolute;
            right: 0.7rem;
            top: 0.7rem;
            padding: 1rem;
            transition: 0.32s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                color: $color-main;
            }
        }
    }

    &._showed {
        transform: none;
        opacity: 1;
        pointer-events: initial;

        .container-fav {
            ._left {
                ._lists {
                    transform: none;
                    opacity: 1;
                }
            }
            ._right {
                ._img {
                    animation: upandown infinite alternate 8s;
                }
                ._text {
                    h6 {
                        height: 2.1rem;
                        overflow: hidden;
                        word-break: break-all;
                        animation: typing infinite linear 4s;
                        &::after {
                            content: "A MAIOR DO BRASIL";
                            animation: changetext infinite linear 8s;
                        }
                    }
                }
            }
        }
    }

    @include responsive(1200px) {
        .container-fav {
            ._right {
                ._img {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    @include responsive(900px) {
        top: 0;
        left: 0;
        z-index: 665;
        height: 100vh;
        width: 100vw;
        background-color: $white;

        .container-fav {
            height: 100%;
            @include flex(column, center, flex-start);
            gap: 1.5rem;
            ._left {
                ._lists {
                    flex-direction: column;
                    align-items: center;
                    ul {
                        width: 100%;
                    }
                }
            }
            ._right {
                ._img {
                    img {
                        display: block;
                    }
                }
                ._text {
                    margin-left: 18.1rem;
                }
            }
        }
    }
    @include responsive(600px) {
        .container-fav {
            ._right {
                flex-direction: column;
                ._img {
                    right: 25.3rem;
                }
                ._text {
                    h6 {
                        height: 1.4rem !important;
                        font-size: 1.482rem;
                    }
                }
            }
        }
        .close_superMenu {
            font-size: 5.4rem;
            font-weight: bold;
        }
    }
}
