section.s_tabela {
  background: $gray-ligher;
  padding-top: 10.2rem;
  padding-bottom: 10rem;
  h4 {
    margin-bottom: 4.7rem;
    font-size: 3.8rem;

    color: $color-darkest;
  }

  ._table {
    @include fade(translateX(-500px), 2s);
    @include flex(row, center, space-between);

    ._col {
      width: 100%;
      height: 77.4rem;
      max-width: 38.3rem;

      background-color: $white;

      box-shadow: 5px 4px 30px rgba(151, 163, 194, 0.3);

      ._top {
        width: 100%;
        height: 14.1rem;

        padding-left: 5.2rem;

        color: $white;
        font-weight: 600;
        font-size: 2.2rem;
        letter-spacing: 0.02em;
        padding-top: 8.5rem;
      }

      main {
        padding-top: 2.9rem;
        padding-left: 4.9rem;
        max-width: 100%;

        ._meetings {
          height: 28.5rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }
          &::-webkit-scrollbar-thumb {
            width: 5px;
            height: 15px;
            background-color: #a8d8dc;
          }
        }

        p {
          font-size: 1.4rem;
          line-height: 140%;
          max-width: 30.3rem;

          letter-spacing: 0.02em;

          color: $color-main;

          &:first-child {
            margin-bottom: 4.5rem;
            height: 7.8rem;
            overflow: hidden;
          }

          &._date {
            font-weight: 500;
            margin-top: 1.1rem;
            margin-bottom: 5.6rem;
            font-size: 1.6rem;

            color: $color-main;
          }
        }

        span {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          letter-spacing: 0.05em;

          margin-bottom: 4.6rem;

          &._pa {
            margin: 0;
          }
        }

        strong {
          position: relative;
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 2rem;
          padding-top: 1.2rem;

          color: $color-main;

          &::after {
            content: "";
            position: absolute;
            height: 0.2rem;
            width: 1.8rem;
            top: 0;
            left: 0;
          }
        }
      }

      ._bottom {
        padding-bottom: 3.9rem;
        padding-top: 4.6rem;
        width: 100%;

        border-top: 1px solid #e0e0e0;

        @include flex(row, center, center);
        gap: 4.2rem;

        strong {
          font-weight: 600;
          font-size: 2.2rem;
          line-height: 2.7rem;
        }
      }

      &:first-child {
        ._top {
          background-color: $color-thirdy;
        }
        main {
          span {
            background: $gradient-sky;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          strong {
            &::after {
              background-color: $color-thirdy;
            }
          }
        }
        ._bottom {
          button {
            @include alternative-btn(4.8rem, $color-thirdy, $white);
          }
        }
      }
      &:nth-child(2) {
        ._top {
          background-color: #2d9cdb;
        }
        main {
          span {
            background: linear-gradient(45.59deg, #2d9cdb 32.54%, #165fcd 122.34%);
            -webkit-background-clip: text;

            -webkit-text-fill-color: transparent;
          }
          strong {
            &::after {
              background-color: #2d9cdb;
            }
          }
        }
        ._bottom {
          button {
            @include alternative-btn(4.8rem, #2d9cdb, $white);
          }
        }
      }
      &:last-child {
        ._top {
          background-color: #f2994a;
        }
        main {
          span {
            color: #f2994a;
          }
          strong {
            &::after {
              background-color: #f2994a;
            }
          }
        }
        ._bottom {
          button {
            @include alternative-btn(4.8rem, #f2994a, $white);
          }
        }
      }
    }

    @include responsive(1230px) {
      gap: 8rem;
    }
    @include responsive(1000px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    @include responsive(800px) {
      display: block;
      white-space: nowrap;
      overflow-x: scroll;
      height: 90rem;

      &::-webkit-scrollbar {
        display: none;
      }

      ._col {
        white-space: normal;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    @include responsive(600px) {
      ._col:last-child {
        main {
          ._meetings {
            max-height: 30.5rem;
          }
        }
      }
    }
  }
}
