body#treinador {
    ._title {
        @include fade(translateY(200px), 1s);
    }
    h6:not(.d_superMenu h6, .s_hero h6) {
        font-weight: 500;
        font-size: 5rem;
        line-height: 5.9rem;
        letter-spacing: 0.02em;
        margin-bottom: 4.7rem;

        color: $color-thirdy;

        span {
            font-weight: 500;
            font-size: 5rem;
            line-height: 5.9rem;
            letter-spacing: 0.02em;

            color: $color-darker;
        }
    }

    section.s_hero {
        height: 101.5rem;
        background-image: url("../img/header_treinador.jpg");

        ._h1 {
            margin-top: 16.1rem;
        }

        @include responsive(900px) {
            background-position: center center;
        }

        @include responsive(600px) {
            background-size: auto 100%;
            background-position: center 10rem;
            height: 60rem;

            ._h1 {
                margin-top: 8.1rem;
            }
        }
    }

    section.s_treinadorVideo {
        margin-top: -41.8rem;
        .container-fav {
            @include flex(column, center, center);

            img {
                border-radius: 0.8rem;

                z-index: 2;

                cursor: pointer;
                box-shadow: 10px 20px 40px rgba(19, 51, 113, 0.05);
            }
        }

        .blackout {
            display: none;

            width: 100vw;
            height: 100vh;
            position: fixed;

            top: 0;
            left: 0;
            z-index: 1;
            background: #00000067;

            cursor: none;

            &.showed {
                display: block;
            }
        }

        @include responsive(600px) {
            margin-top: -4rem;
            .container-fav {
                img {
                    width: 100vw;
                }
            }
        }
    }

    section.s_programas {
        padding-top: 10.4rem;
        padding-bottom: 8.6rem;

        .container-fav {
            @include flex(column, center, center);

            position: relative;

            text-align: center;
        }
        h6 {
            span {
                position: relative;
                @include draw_one(33.4rem, 7.8rem, 0, -5rem);
            }
        }
        p {
            max-width: 83.2rem;
            display: inline-block;
            letter-spacing: 0.02em;

            color: $color-main;
        }
    }

    section.s_alternative {
        padding-top: 20rem;
        padding-bottom: 20rem;

        background-image: url("../img/banner_alternativo.jpg");
        background-size: 100% 100%;

        .c_cursos {
            position: relative;

            ._title {
                @include flex(column, center, center);
                text-align: center;

                h6 {
                    position: relative;
                    max-width: 40rem;

                    @include draw_two(21.2rem, 1.6rem, 100%, 0);
                }

                span {
                    font-weight: 500;
                    display: block;
                    position: relative;
                    font-size: 2.4rem;
                    letter-spacing: 0.02em;

                    color: $white;

                    @include draw_one(22.7rem, 5rem, -1rem, -2rem);
                }

                p {
                    line-height: 165%;
                    /* or 26px */

                    text-align: center;
                    letter-spacing: 0.02em;

                    color: $white;
                    max-width: 66rem;
                }
            }

            ._menu {
                @include flex(row, center, flex-end);
                padding-top: 46px;

                strong {
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.02em;

                    color: $color-second;
                }

                ._buttons {
                    @include flex(row, center, space-between);
                    gap: 37px;

                    ._button {
                        &:hover {
                            img {
                                filter: drop-shadow(1px 1px 30px red);
                            }
                            cursor: pointer;
                        }
                    }

                    ._indicator {
                        @include flex(row, center, space-between);
                        gap: 12px;

                        img {
                            content: url("../img/galeria_Indicator_alternative.svg");
                            &.active {
                                content: url("../img/galeria_Indicator-active_alternative.svg");
                            }
                        }
                    }
                }
            }

            ._content {
                white-space: nowrap;
                max-width: 100%;
                overflow-x: hidden;
                overflow-y: visible;
                transform-origin: center center;
                scroll-behavior: smooth;

                @include responsive(730px) {
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                }
            }

            ._cursoList {
                margin-top: 4rem;
                @include flex(row, center, space-between);
                transition: 0.32s;
                min-width: max-content;
                gap: 35px;

                white-space: initial;
                ._curso {
                    ._pic {
                        width: 100%;
                    }

                    text-align: center;

                    scroll-snap-align: center;
                    height: 44.6rem;
                    width: 100%;
                    max-width: 37.3rem;
                    transition: 0.32s;

                    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
                    background: $white;
                    box-sizing: border-box;
                    box-shadow: 10px 20px 40px rgba(19, 51, 113, 0.05);

                    &:hover {
                        cursor: pointer;
                        background: rgb(255, 238, 238);
                        transform-origin: center;
                        // box-shadow: 1px 1px 700px 5px $color-second;
                    }

                    ._top {
                        padding-top: 3rem;
                        padding-bottom: 2.6rem;
                        border-bottom: 1px solid $gray-ligher;
                        h6 {
                            font-weight: 500;
                            font-size: 22px;
                            line-height: 120%;
                            margin-bottom: 1.1rem;
                        }

                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 140%;
                            /* or 20px */

                            text-align: center;
                            letter-spacing: 0.04em;

                            color: #647093;
                        }
                    }

                    ._bottom {
                        padding-top: 11px;

                        strong {
                            margin-bottom: 20px;
                            display: block;
                            font-size: 18px;
                            line-height: 120%;
                            color: $color-thirdy;
                        }

                        button {
                            @include alternative-btn(
                                3.6rem,
                                $color-thirdy,
                                $white
                            );
                        }
                    }
                }
            }
            @include fade(scale(0), 2s);
        }

        .c_depoimentos {
            text-align: center;
            @include flex(column, center, center);

            ._title {
                margin-top: 22rem;
                position: relative;

                h6 {
                    position: relative;
                    @include draw_one(64.4rem, 14rem, -2rem, 2rem);
                    span {
                        color: $white;
                    }
                }

                p {
                    font-weight: 400;
                    margin-bottom: 4rem;
                    max-width: 66.8rem;
                    color: #ffffff;
                }
            }

            ._videos {
                @include flex(row, center, space-between);
                flex-wrap: wrap;

                img {
                    margin-top: 3.6rem;
                    border-radius: 0.8rem;

                    cursor: pointer;

                    z-index: 2;
                }
            }
        }

        @include responsive(830px) {
            .c_depoimentos {
                ._videos {
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        @include responsive(600px) {
            .c_depoimentos {
                ._title {
                    h6 {
                        &::after {
                            width: 50.4rem;
                        }
                    }
                }
            }
        }
    }

    section.s_depoimentos-single {
        padding-top: 24.6rem;
        padding-bottom: 18.2rem;

        @include flex(row, center, center);
        .container-fav {
            @include flex(row, center, space-between);
            gap: 6.8rem;
            max-width: 93rem !important;

            ._title {
                position: relative;
                padding-left: 3.8rem;
                width: 100%;
                max-width: 27.8rem;

                h6 {
                    color: $color-main;
                }

                ._circles {
                    width: 5.5rem;
                    height: 5.5rem;
                    background: url("../img/icon_happy.svg");
                    background-size: 100% 100%;
                    position: absolute;

                    top: -5.5rem;
                    left: 0;

                    animation: upandown infinite linear 5s;

                    &::after {
                        width: 6.6rem;
                        height: 6.6rem;
                        content: url("../img/depoimento_circle\ \(1\).png");
                        position: absolute;
                        top: unset;
                        bottom: -30rem;
                        left: 3rem;
                    }
                    &::before {
                        width: 6.6rem;
                        height: 6.6rem;
                        content: url("../img/depoimento_circle\ \(2\).png");
                        position: absolute;
                        top: -8.3rem;
                        left: 15.2rem;
                    }
                }
            }

            main {
                max-width: 58.3rem;
                position: relative;

                &::after {
                    content: "";

                    height: 5.9rem;
                    width: 7.2rem;

                    background-image: url("../img/svg_aspas.svg");
                    background-size: 100% 100%;

                    position: absolute;
                    top: -9.1rem;
                    left: -5rem;
                }

                ._content {
                    white-space: nowrap;
                    max-width: 53rem;
                    overflow: hidden;
                    scroll-behavior: smooth;

                    ._depoimentoList {
                        @include flex(row, center, space-between);
                        transition: 0.32s;
                        min-width: max-content;
                        white-space: initial;
                        ._depoimento {
                            max-width: 53rem;
                            white-space: initial;

                            p._text {
                                font-weight: 500;
                                letter-spacing: 0.02em;
                                margin-bottom: 4.7rem;
                                color: $color-alternative;
                            }

                            ._end {
                                @include flex(row, center, flex-start);
                                ._pic {
                                    img {
                                        border-radius: 100%;
                                    }
                                }
                                p {
                                    color: $color-darkest;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 140%;
                                    margin-left: 2rem;
                                    padding-right: 1.6rem;

                                    border-right: 1px solid $black;
                                }
                                a {
                                    @include flex(row, center, flex-start);
                                    margin-left: 1.7rem;
                                    gap: 0.75rem;
                                    font-family: Gilroy;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;

                                    color: $color-alternative;
                                }
                            }
                        }
                    }
                }

                ._menu {
                    @include flex(row, center, flex-start);
                    padding-top: 46px;

                    strong {
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.02em;

                        color: $color-second;
                    }

                    ._buttons {
                        @include flex(row, center, space-between);
                        gap: 37px;

                        ._button {
                            &:hover {
                                img {
                                    filter: drop-shadow(1px 1px 30px red);
                                }
                                cursor: pointer;
                            }
                        }

                        ._indicator {
                            @include flex(row, center, space-between);
                            gap: 12px;

                            img {
                                content: url("../img/galeria_Indicator.svg");
                                &.active {
                                    content: url("../img/galeria_Indicator-active.svg");
                                }
                            }
                        }
                    }
                }
            }
        }

        @include responsive(830px) {
            .container-fav {
                flex-direction: column;
                ._title {
                    margin-bottom: 8rem;
                }
                main {
                    &::after {
                        left: 0;

                        @include responsive(700px) {
                            left: 46px;
                        }
                    }
                }
            }
        }

        @include responsive(600px) {
            .container-fav {
                main {
                    ._content {
                        scroll-snap-type: x mandatory;
                        max-width: 100vw;
                        ._depoimentoList {
                            ._depoimento {
                                max-width: 42rem;
                                scroll-snap-align: center;
                                margin-left: 10rem;
                                margin-right: 10rem;
                            }
                        }
                    }
                }
            }
        }
    }

    section.s_sobremim {
        background: url("../img/banner_sobreMim.png");

        .container-fav {
            @include flex(row, center, center);
            gap: 17.6rem;

            ._text {
                max-width: 54rem;
                color: $white;
                p {
                    font-size: 1.8rem;
                }

                h1 {
                    margin-bottom: 1.2rem;
                }

                @include fade(translateY(-200px), 1s);
            }
            ._img {
                margin-top: -11.1rem;
            }
        }

        @include responsive(930px) {
            padding: 6rem 0;
            ._img {
                display: none;
            }
        }
    }

    section.s_meusposts {
        padding-top: 9.4rem;

        h4 {
            color: $color-darkest;
            position: relative;
            width: max-content;
            @include draw_two(21.2rem, 1.6rem, unset, unset);

            margin-bottom: 4.3rem;

            &::after {
                bottom: -1rem;
                right: -10.6rem;
            }
        }
        .container-fav {
            ._content {
                height: 45rem;
                scroll-snap-type: x mandatory;
                ._blogList {
                    @include flex(row, center, space-between);
                    gap: 3.2rem;
                    min-width: max-content;

                    ._blog {
                        box-shadow: 10px 20px 40px rgba(19, 51, 113, 0.05);
                        border-radius: 8px;
                        background-color: $white;
                        padding-bottom: 3.4rem;

                        scroll-snap-align: center;
                        transition: 0.32s;
                        cursor: pointer;

                        width: 100%;
                        max-width: 38.1rem;

                        ._img {
                            width: 100%;
                            overflow: hidden;
                            max-height: 17.6rem;
                            border-radius: 8px 8px 0px 0px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        ._text {
                            span {
                                text-transform: uppercase;
                                font-weight: 600;
                                font-size: 1.2rem;
                                line-height: 1.4rem;

                                color: $color-second;

                                background-color: $gray-ligher;

                                padding: 0.8rem 1.6rem;

                                border-radius: 300px;
                            }
                            h6 {
                                font-weight: 600;
                                font-size: 2rem;
                                line-height: 140%;
                                max-width: 20.8rem;

                                color: $color-darker;

                                margin-top: 2rem;
                            }

                            padding-left: 5rem;
                            padding-top: 2.1rem;
                        }

                        &:hover {
                            transform: scale(1.05);
                            background: $gray-ligher;
                        }
                    }
                }

                @include responsive(900px) {
                    max-width: 100vw;
                    overflow-x: scroll;
                }
            }
        }
    }

    section.s_cursos {
        padding-top: 4rem;
        ._title h4 {
            color: $color-darkest;
            position: relative;
            width: max-content;
            @include draw_two(21.2rem, 1.6rem, unset, 0);

            margin-bottom: 4.3rem;

            &::after {
                bottom: -1rem;
            }
        }
    }

    section.s_duvidas {
        margin-top: 6.2rem;
        margin-bottom: 18.6rem;

        .container-fav {
            ._top {
                max-width: 41.5rem;
                h4 {
                    color: $color-darkest;
                    position: relative;
                    width: max-content;
                    @include draw_two(21.2rem, 1.6rem, unset, unset);

                    margin-bottom: 4.3rem;

                    &::after {
                        bottom: -1rem;
                        right: -10.6rem;

                        @include responsive(600px) {
                            right: -1.6rem;
                        }
                    }

                    @include responsive(600px) {
                        width: max-content;
                    }
                }
            }

            ._duvidas {
                @include flex(Column, center, center);
                gap: 2.1rem;

                ._box {
                    transform: 0.32s;
                    max-height: 7.2rem;
                    overflow-y: hidden;
                    border-radius: 0.8rem;
                    width: 100%;

                    padding: 0 3.9rem;
                    padding-bottom: 2.1rem;

                    border: solid 1px rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    ._main {
                        height: 7.2rem;
                        @include flex(row, center, space-between);

                        span {
                            font-weight: 500;
                            font-size: 1.6rem;

                            max-width: 65%;

                            color: $color-main;
                        }
                    }
                    p {
                        margin-top: 2.2rem;
                        max-width: 65%;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 125%;
                        /* or 20px */

                        color: $color-alternative;
                    }

                    &.active {
                        max-height: unset;
                        border-color: $color-second;

                        ._main {
                            span {
                                font-weight: bold;
                                font-size: 2.4rem;
                                /* identical to box height, or 30px */

                                color: $color-second;
                            }

                            ._icon {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer_form {
            padding-top: 9.6rem;
            padding-bottom: 3.8rem;
            background: $color-main;

            .container-fav {
                @include flex(row, center, space-between);

                ._col {
                    max-width: 44.8rem;

                    &:first-child {
                        p {
                            font-size: 1.8rem;
                            color: $white;
                            margin-top: 2.4rem;
                            max-width: 40rem;

                            i {
                                font-style: normal;
                                color: $color-featured;
                                font-size: 1.8rem;
                            }
                        }
                        h6 {
                            position: relative;
                            font-weight: 600;
                            line-height: 100%;
                            font-size: 3.2rem;
                            margin: 0;
                            margin-top: 3.7rem;

                            letter-spacing: 0.01em;

                            color: $white;

                            @include draw_two(21.2rem, 1.6rem, -2rem, unset);

                            &::after {
                                left: -5rem;
                            }
                        }

                        ._buttons {
                            @include flex(row, center, flex-start);
                            margin-top: 0.7rem;
                            gap: 0.7rem;
                        }
                    }

                    &:last-child {
                        max-width: 48.8rem;
                        width: 100%;

                        form {
                            padding: 4.8rem 3.4rem;
                            background: url("../img/form_border.svg");
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            height: auto;

                            @include flex(column, center, center);
                            gap: 1.6rem;
                            width: 100%;
                            label {
                                width: 100%;
                                p {
                                    font-weight: 400;
                                    margin-bottom: 0.8rem;

                                    color: $white;
                                }

                                input {
                                    width: 100%;
                                    height: 4.8rem;
                                    background: transparent;
                                    border: 1px solid $white;
                                    border-radius: 0.8rem;

                                    color: $white;

                                    padding-left: 2rem;
                                }
                            }

                            button {
                                @include alternative-btn(
                                    5.1rem,
                                    $color-second,
                                    $white
                                );
                                font-family: "Montserrat";
                                font-weight: 500;
                                margin-top: 3rem;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }

            @include responsive(900px) {
                .container-fav {
                    flex-direction: column;
                    gap: 7rem;
                }
            }
        }
    }
}
