$color-main: #32383e;
$color-second: #859668;
$color-thirdy: #859668;
$color-fourty: #ffa700;
$color-featured: #d0f09c;
$color-alternative: #647093;
$color-darkest: #32383e;
$color-darker: #001856;

$white: white;
$black: black;

$gray: #122333;
$gray-ligher: #f7f8fc;

$orange: #f4a261;

$gradient-brazil: linear-gradient(348deg, rgba(50, 56, 62, 1) 0%, rgba(50, 56, 62, 1));
$gradient-sea: linear-gradient(348deg, rgba(50, 56, 62, 1) 0%, rgba(50, 56, 62, 1));
$gradient-sky: linear-gradient(348deg, rgba(50, 56, 62, 1) 0%, rgba(50, 56, 62, 1));
$gradient-sky-2: linear-gradient(348deg, rgba(50, 56, 62, 1) 0%, rgba(50, 56, 62, 1));
