$color-main: #3c445b;
$color-second: #19a5d3;
$color-thirdy: #1ac7d6;
$color-fourty: #21b6a8;
$color-featured: #fbff36;
$color-alternative: #647093;
$color-darkest: #20356f;
$color-darker: #001856;

$white: white;
$black: black;

$gray: #122333;
$gray-ligher: #f7f8fc;

$orange: #f4a261;

$gradient-brazil: linear-gradient(
  42.48deg,
  #04adde 12%,
  #83c70b 53.93%,
  #dec300 86.39%
);
$gradient-sea: linear-gradient(45.59deg, #1ad7af 32.54%, #16accd 122.34%);
$gradient-sky: linear-gradient(45.59deg, #1ad7d7 32.54%, #165fcd 122.34%);
$gradient-sky-2: linear-gradient(29.43deg, #1ad7d7 -10.45%, #165fcd 159.12%); ;
